
<html>
  <head>
    <meta charset="UTF-8" />
    <%= yield_content "header" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  </head>
  <body>
    <div id="app" class="font-sans antialiased bg-[#1B1F24]">
    </div>
    <script src="./main.js"></script>
  </body>
</html>
