@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .optimize-legibility {
    text-rendering: optimizeLegibility;
  }
  .wh-full {
    height: 100%;
    width: 100%;
  }
  .d-flex {
    display: flex !important;
  }
}


